# Credentials
.env

# Database
levels.db

# Python Folders
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/

# --- Labworks Data ---
# Ignore all CSV data exports
*.csv

# Ignore the local data directory (backups, logs, etc)
data/